/* .picker {
    background-color: blanchedalmond;
    color: red;
    border-color: brown;
    border-radius: 20;
    border-width: 2;
    width: 200;
    height: 100;
    vertical-align: middle;
} */

.page {
    box-sizing: border-box;
}

.form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 1;
    align-items: center;
    padding: 100px 20px 0px 20px;
    font-size: 20px;
}

.time-picker {
    margin-top: 60px;
    margin-bottom: 60px;
    height: 500px;
    width: 100%;
}

.date {
    text-align: center;
    font-size: 20px;
}

.btn {
    margin-top: 60px;
}