.box {
    align-items: stretch;
    flex-direction: column;
}

.profile {
    flex-grow: 1;
    /*vertical-align: middle;*/
    /*margin: 0 30;*/
    box-shadow: 0 0 10 black;
}

.profilepic {
    height: 150;
}

.field {
    text-align: center;
    margin-top: 10;
}

.cardStyle {
    background-color: white;
    color: black;
}

.calendar {
    height: 200;
}